
.app-container {
  background-image: url('https://static.vecteezy.com/system/resources/previews/012/216/749/non_2x/city-map-with-destination-point-vector.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Adjust this to control vertical positioning */
}


